In [1]:
#Importar la libreria y cargar la basee de datos 
import pandas as pd
df=pd.read_csv('C:/Users/carme/Downloads/df_sucio.csv')
df

,user_id,gender,age,country,subscription_type,listening_time,songs_played_per_day,skip_rate,device_type,ads_listened_per_week,offline_listening,is_churned
0,1.0,NaN,54.0,CA,Free,26.0,23.0,NaN,Desktop,31.0,0.0,1.0
1,2.0,Other,33.0,DE,NaN,141.0,62.0,0.34,Web,0.0,1.0,0.0
2,3.0,Male,38.0,AU,Premium,199.0,38.0,0.04,Mobile,0.0,1.0,1.0
3,4.0,Female,NaN,CA,Student,36.0,2.0,0.31,Mobile,0.0,1.0,0.0
4,5.0,Other,29.0,US,Family,250.0,57.0,0.36,Mobile,0.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
10166,335.0,Female,38.0,CA,Free,89.0,59.0,0.15,Mobile,21.0,0.0,0.0
10167,878.0,Female,45.0,PK,Free,221.0,6.0,0.48,Mobile,21.0,0.0,NaN
10168,3255.0,Male,35.0,AU,Free,263.0,16.0,0.39,Mobile,21.0,0.0,0.0
10169,2658.0,Male,55.0,DE,Premium,14.0,80.0,0.42,Mobile,0.0,1.0,0.0
10170,1842.0,Other,37.0,US,Premium,226.0,5.0,0.08,Desktop,0.0,NaN,1.0

## SOBRE EL DATASET
Cada fila representa un usuario único de Spotify.
Columnas y sus características:
- user_id → Identificador único de cada 
- usuariogender → Género del usuario (Masculino/Femenino/Otro)
- age → Edad del usuario
- country → Ubicación del usuario
- subscription_type → Tipo de suscripción en Spotify (Gratis, Premium, Familiar, Estudiante)
- listening_time → Minutos escuchados por día
- songs_played_per_day → Número de canciones reproducidas diariamente
- skip_rate → Porcentaje de canciones saltadas
- device_type → Dispositivo utilizado (Móvil, Escritorio, Web)
- ads_listened_per_week → Número de anuncios escuchados por semana
- offline_listening → Uso del modo sin conexión
- is_churned → Variable objetivo (0 = Activo, 1 = Perdido)

In [ ]:
#VISUALIZAMOS SUS CARACTERISTICAS 
df.head()

,user_id,gender,age,country,subscription_type,listening_time,songs_played_per_day,skip_rate,device_type,ads_listened_per_week,offline_listening,is_churned
0,1.0,NaN,54.0,CA,Free,26.0,23.0,NaN,Desktop,31.0,0.0,1.0
1,2.0,Other,33.0,DE,NaN,141.0,62.0,0.34,Web,0.0,1.0,0.0
2,3.0,Male,38.0,AU,Premium,199.0,38.0,0.04,Mobile,0.0,1.0,1.0
3,4.0,Female,NaN,CA,Student,36.0,2.0,0.31,Mobile,0.0,1.0,0.0
4,5.0,Other,29.0,US,Family,250.0,57.0,0.36,Mobile,0.0,1.0,1.0

In [3]:
#VISUALIZAMOS EL NUMERO DE FILLAS Y SUS COLUMNAS 
df.shape

(10171, 12)

In [4]:
#VISUALIZAMOS LAS CARATERISSTICAS NUMERICAS Y CATEGORICAS
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10171 entries, 0 to 10170
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   user_id                9866 non-null   float64
 1   gender                 9866 non-null   object
 2   age                    9666 non-null   float64
 3   country                9866 non-null   object
 4   subscription_type      9866 non-null   object
 5   listening_time         9668 non-null   float64
 6   songs_played_per_day   9866 non-null   float64
 7   skip_rate              9866 non-null   object
 8   device_type            9866 non-null   object
 9   ads_listened_per_week  9667 non-null   float64
 10  offline_listening      9672 non-null   float64
 11  is_churned             9668 non-null   float64
dtypes: float64(7), object(5)
memory usage: 953.7+ KB

## ANALISIS POR COLUMNAS

In [5]:
#Se crea una lista de todos los nombres de las columnas
lista_col=df.columns
lista_col

Index(['user_id', 'gender', 'age', 'country', 'subscription_type',
       'listening_time', 'songs_played_per_day', 'skip_rate', 'device_type',
       'ads_listened_per_week', 'offline_listening', 'is_churned'],
      dtype='object')

In [6]:
#Vamos a generar un ciclo for que ayude a visualizar que valores únicos vienen en cada columna
lista_col=df.columns
for n in lista_col:
    print(f"la columna {n} tiene de datos:")
    print(df[n].unique())
    print()

la columna user_id tiene de datos:
[1.000e+00 2.000e+00 3.000e+00 ... 2.087e+03 4.062e+03 5.266e+03]

la columna gender tiene de datos:
[nan 'Other' 'Male' 'Female']

la columna age tiene de datos:
[54. 33. 38. nan 29. 17. 39. 41. 55. 44. 24. 37. 53. 25. 36. 58. 34. 35.
 49. 45. 32. 19. 28. 22. 50. 51. 46. 18. 56. 57. 48. 59. 21. 30. 23. 47.
 52. 43. 27. 31. 42. 16. 40. 20. 26.]

la columna country tiene de datos:
['CA' 'DE' 'AU' 'US' 'UK' nan 'IN' 'FR' 'PK']

la columna subscription_type tiene de datos:
['Free' nan 'Premium' 'Student' 'Family']

la columna listening_time tiene de datos:
[ 26. 141. 199.  36. 250. 219. 289. 210.  50. 278.  86. 113.  24.  45.
 114. 230. 181. 120. 160. 281. 138.  20. 134. 133.  nan 293.  15. 123.
  18. 149.  72. 291. 147.  59. 280.  47. 260. 122. 255.  49.  90. 288.
 238. 241. 124. 175.  41. 222. 121. 277. 107. 198.  95. 262. 169.  25.
  55. 161.  77. 152. 156.  99. 265. 131.  19. 201. 223.  81.  13.  31.
 105. 202. 284. 125. 237. 224. 195. 173.  85. 196.  22. 283.  40. 251.
 240. 215. 119.  17. 174.  84. 272.  21.  35.  32.  11. 194. 217. 271.
  94. 295. 286. 298. 261.  30. 109.  52. 285. 158. 257. 216. 137. 209.
 205. 168. 211.  63. 275.  64. 184.  38. 140. 130. 179. 180. 267. 126.
 233. 100. 170. 150. 203. 226.  62. 207.  74. 139.  37. 204. 269. 245.
 252. 155.  66.  51. 165.  73.  10. 279.  39. 254. 227. 244. 218. 144.
 143. 110. 276. 178.  98.  28. 259.  53. 112.  91.  92. 299. 157. 176.
 146. 191. 128. 282.  97.  58. 172. 258.  27. 108. 235. 213. 102. 183.
 159. 187.  57.  71. 206. 294.  89.  93.  56.  16.  78. 229. 164.  61.
 232.  42. 163. 103. 148. 273. 225. 228. 118. 256. 264.  23. 104. 171.
 274.  79.  69.  14.  88. 236. 214. 247. 296. 166. 188.  65. 115. 290.
  34. 192. 266.  43. 292. 270. 208.  54. 185.  75.  33. 136. 111. 167.
  87. 101.  48.  12. 246. 263. 177. 287. 197. 243.  60. 106.  68. 200.
 220. 190. 127. 154.  83. 153. 186.  70. 231. 116. 212. 193.  80. 253.
 242. 162.  82. 297. 239. 132. 221.  67. 234.  44.  46.  96. 248. 142.
  29. 182. 129. 268. 135.  76. 249. 117. 145. 151. 189.]

la columna songs_played_per_day tiene de datos:
[23. 62. 38.  2. 57. 35. 44. 68. 66. 94. 24. 86. 47. 13. 25. 93.  8. 32.
 51. 60.  7. 95. 97. 22. 29. 67. 55. 12. 45. 74. 52. 53. 99. 98. 59. 16.
 14. 39. 89. 69.  3. 75. 96. 71. 82. 63. 79. 26. 42. 43. 40. 81. 70. 15.
 83.  6. 73. 30. 72. 87.  4. 11. 36. 49. 80. 85.  1. 91. 61. 76.  9. 34.
 nan 48. 31. 20. 37. 84. 78. 88. 19. 17. 41. 27. 50. 28. 56. 54. 46. 58.
 33.  5. 90. 18. 92. 64. 10. 65. 21. 77.]

la columna skip_rate tiene de datos:
[nan '0.34' '0.04' '0.31' '0.36' '0.46' '0.38' '0.11' '0.29' '0.56' '0.6'
 '0.44' '0.26' '0.23' '0.41' '0.35' '0.45' '0.1' '0.42' '0.59' '0.53'
 '0.33' '0.3' '0.22' 'Auto%#' '0.17' '0.43' '0.18' '0.06' '0.5' '0.54'
 '0.39' '0.51' '0.4' '0.48' '0.58' '0.08' '0.0' '0.32' '0.2' '0.49' '0.14'
 '0.21' '0.05' '0.19' '0.24' '0.03' '0.37' '0.15' '0.25' '0.07' '0.02'
 '0.12' '0.27' '0.13' '0.16' '0.52' '0.09' '0.28' '0.01' '0.55' '0.47'
 '0.57']

la columna device_type tiene de datos:
['Desktop' 'Web' 'Mobile' nan]

la columna ads_listened_per_week tiene de datos:
[31.  0. 13.  5. 44. 37. 39. nan 23. 35.  7. 28. 22. 43. 15. 12. 19. 38.
 14. 18. 10. 29. 20. 16.  6. 36. 27. 49. 40. 47.  9. 45. 32. 42. 48. 26.
  8. 24. 30. 25. 41. 21. 34. 17. 46. 33. 11.]

la columna offline_listening tiene de datos:
[ 0.  1. nan]

la columna is_churned tiene de datos:
[ 1.  0. nan]

In [7]:
#Contar valores nulos en cada columna.
df.isnull().sum()

user_id                  305
gender                   305
age                      505
country                  305
subscription_type        305
listening_time           503
songs_played_per_day     305
skip_rate                305
device_type              305
ads_listened_per_week    504
offline_listening        499
is_churned               503
dtype: int64

In [8]:
#Con este comando se crea un booleano que muestra renglones duplicados
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
10166     True
10167    False
10168    False
10169     True
10170    False
Length: 10171, dtype: bool

In [9]:
#Contar filas duplicadas
df.duplicated().sum()

np.int64(916)

## SOLO EN ESTE CASO
Visualizamos los duplicados de "tipo de usuario" y "tipo de subcripcion" (ya que un usuario no puede tener dos registros) y se eliminan

In [10]:
#Duplicados
df.duplicated(subset=['user_id', 'subscription_type']).sum()

np.int64(2226)

In [11]:
df2=df.drop_duplicates(subset=['user_id', 'subscription_type'])
df2

,user_id,gender,age,country,subscription_type,listening_time,songs_played_per_day,skip_rate,device_type,ads_listened_per_week,offline_listening,is_churned
0,1.0,NaN,54.0,CA,Free,26.0,23.0,NaN,Desktop,31.0,0.0,1.0
1,2.0,Other,33.0,DE,NaN,141.0,62.0,0.34,Web,0.0,1.0,0.0
2,3.0,Male,38.0,AU,Premium,199.0,38.0,0.04,Mobile,0.0,1.0,1.0
3,4.0,Female,NaN,CA,Student,36.0,2.0,0.31,Mobile,0.0,1.0,0.0
4,5.0,Other,29.0,US,Family,250.0,57.0,0.36,Mobile,0.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
10121,4062.0,Female,49.0,FR,Family,195.0,39.0,0.52,Web,0.0,1.0,1.0
10125,6500.0,Female,NaN,PK,Student,245.0,10.0,0.5,Web,0.0,1.0,0.0
10138,5797.0,Female,37.0,DE,NaN,116.0,29.0,0.58,Desktop,0.0,1.0,0.0
10139,5266.0,Male,30.0,US,Premium,185.0,36.0,0.15,Web,0.0,1.0,1.0
10157,6421.0,Other,53.0,US,NaN,201.0,19.0,0.15,Web,0.0,1.0,0.0

## SUSTITUCION DE LOS DATOS NaN
Para que no allá alteracion en los datos arrojados se utliza la moda, media y mediana.

In [12]:
# Identificar tipos de columnas
num_cols = df2.select_dtypes(include=['number']).columns
cat_cols = df2.select_dtypes(exclude=['number']).columns

# Rellenar valores numéricos con la mediana
for col in num_cols:
    df2[col].fillna(df2[col].median(), inplace=True)

# Rellenar valores categóricos con la moda
for col in cat_cols:
    df2[col].fillna(df2[col].mode()[0], inplace=True)

# Verificar valores nulos restantes
df2.isnull().sum()

C:\Users\carme\AppData\Local\Temp\ipykernel_22316\4020487086.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2[col].fillna(df2[col].median(), inplace=True)
C:\Users\carme\AppData\Local\Temp\ipykernel_22316\4020487086.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[col].fillna(df2[col].median(), inplace=True)
C:\Users\carme\AppData\Local\Temp\ipykernel_22316\4020487086.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2[col].fillna(df2[col].median(), inplace=True)
C:\Users\carme\AppData\Local\Temp\ipykernel_22316\4020487086.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[col].fillna(df2[col].median(), inplace=True)
C:\Users\carme\AppData\Local\Temp\ipykernel_22316\4020487086.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2[col].fillna(df2[col].median(), inplace=True)
C:\Users\carme\AppData\Local\Temp\ipykernel_22316\4020487086.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[col].fillna(df2[col].median(), inplace=True)
C:\Users\carme\AppData\Local\Temp\ipykernel_22316\4020487086.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2[col].fillna(df2[col].median(), inplace=True)
C:\Users\carme\AppData\Local\Temp\ipykernel_22316\4020487086.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[col].fillna(df2[col].median(), inplace=True)
C:\Users\carme\AppData\Local\Temp\ipykernel_22316\4020487086.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2[col].fillna(df2[col].median(), inplace=True)
C:\Users\carme\AppData\Local\Temp\ipykernel_22316\4020487086.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[col].fillna(df2[col].median(), inplace=True)
C:\Users\carme\AppData\Local\Temp\ipykernel_22316\4020487086.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2[col].fillna(df2[col].median(), inplace=True)
C:\Users\carme\AppData\Local\Temp\ipykernel_22316\4020487086.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[col].fillna(df2[col].median(), inplace=True)
C:\Users\carme\AppData\Local\Temp\ipykernel_22316\4020487086.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2[col].fillna(df2[col].median(), inplace=True)
C:\Users\carme\AppData\Local\Temp\ipykernel_22316\4020487086.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[col].fillna(df2[col].median(), inplace=True)
C:\Users\carme\AppData\Local\Temp\ipykernel_22316\4020487086.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2[col].fillna(df2[col].mode()[0], inplace=True)
C:\Users\carme\AppData\Local\Temp\ipykernel_22316\4020487086.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[col].fillna(df2[col].mode()[0], inplace=True)

user_id                  0
gender                   0
age                      0
country                  0
subscription_type        0
listening_time           0
songs_played_per_day     0
skip_rate                0
device_type              0
ads_listened_per_week    0
offline_listening        0
is_churned               0
dtype: int64

## CAMBIAMOS LOS DATOS PARA AYUDAR A LEER MEJOR LA INFORMACION 
COMO:
- Traduccion de toda la base al español
- se cambia todo a minusculas
- cambio en los tipo de valores

In [13]:
for col in cat_cols:
    df2[col] = df2[col].str.strip().str.lower()

# Ejemplo: si hay valores similares
for col in cat_cols:
    print(f"\nValores únicos en {col}:")
    print(df2[col].unique())

Valores únicos en gender:
['male' 'other' 'female']

Valores únicos en country:
['ca' 'de' 'au' 'us' 'uk' 'in' 'fr' 'pk']

Valores únicos en subscription_type:
['free' 'premium' 'student' 'family']

Valores únicos en skip_rate:
['0.34' '0.04' '0.31' '0.36' '0.46' '0.38' '0.11' '0.29' '0.56' '0.6'
 '0.44' '0.26' '0.23' '0.41' '0.35' '0.45' '0.1' '0.42' '0.59' '0.53'
 '0.33' '0.3' '0.22' 'auto%#' '0.17' '0.43' '0.18' '0.06' '0.5' '0.54'
 '0.39' '0.51' '0.4' '0.48' '0.58' '0.08' '0.0' '0.32' '0.2' '0.49' '0.14'
 '0.21' '0.05' '0.19' '0.24' '0.03' '0.37' '0.15' '0.25' '0.07' '0.02'
 '0.12' '0.27' '0.13' '0.16' '0.52' '0.09' '0.28' '0.01' '0.55' '0.47'
 '0.57']

Valores únicos en device_type:
['desktop' 'web' 'mobile']

C:\Users\carme\AppData\Local\Temp\ipykernel_22316\481000997.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[col] = df2[col].str.strip().str.lower()

In [14]:
#Se crean diccionarios para la traduccion de informacion de las columnas
traduccionG = {
    'gender':'genero',
    'other' : 'otro',
    'male' : 'masculino',
    'female':'femenino'
}
traduccionC = {
    'country' : 'pais',
    'ca' : 'canada',
    'de' : 'alemania',
    'au' : 'australia',
    'us' : 'estados unidos',
    'uk' : 'reino unido',
    'in' : 'india',
    'fr' : 'francia',
    'pk' : 'pakistan'
}
traduccionST = {
    'subscription_type' : 'tipo_de_subscripcion',
    'free' : 'gratis',
    'premium' : 'pago',
    'student' : 'estudiante',
    'family' : 'familiar'
}
traduccionDT = {
    'device_type' : 'tipo_de_dispositivo',
    'desktop' : 'computador',
    'mobile' : 'celular'
}

In [15]:
#Se traducen los nombre de las columnas usando rename 
df2 = df2.rename(columns={'user_id' : 'nombre_de_usuario', 'gender': 'genero', 'age' : 'edad', 'country' : 'pais',
       'subscription_type': 'tipo_de_subscripcion','listening_time': 'tiempo_de_escucha', 'songs_played_per_day': 'canciones_escuchadas_por_dia',
       'skip_rate' : 'omision', 'device_type' : 'tipo_de_dispositivo','ads_listened_per_week' : 'anuncios_escuchados_por_semana',
       'offline_listening' : 'escucha_sin_conexion', 'is_churned': 'cancelado' 
       })

df2

,nombre_de_usuario,genero,edad,pais,tipo_de_subscripcion,tiempo_de_escucha,canciones_escuchadas_por_dia,omision,tipo_de_dispositivo,anuncios_escuchados_por_semana,escucha_sin_conexion,cancelado
0,1.0,male,54.0,ca,free,26.0,23.0,0.34,desktop,31.0,0.0,1.0
1,2.0,other,33.0,de,premium,141.0,62.0,0.34,web,0.0,1.0,0.0
2,3.0,male,38.0,au,premium,199.0,38.0,0.04,mobile,0.0,1.0,1.0
3,4.0,female,38.0,ca,student,36.0,2.0,0.31,mobile,0.0,1.0,0.0
4,5.0,other,29.0,us,family,250.0,57.0,0.36,mobile,0.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
10121,4062.0,female,49.0,fr,family,195.0,39.0,0.52,web,0.0,1.0,1.0
10125,6500.0,female,38.0,pk,student,245.0,10.0,0.5,web,0.0,1.0,0.0
10138,5797.0,female,37.0,de,premium,116.0,29.0,0.58,desktop,0.0,1.0,0.0
10139,5266.0,male,30.0,us,premium,185.0,36.0,0.15,web,0.0,1.0,1.0
10157,6421.0,other,53.0,us,premium,201.0,19.0,0.15,web,0.0,1.0,0.0

In [16]:
#See traduce con los diccionarios
df2['genero'] = df2['genero'].replace(traduccionG)
df2['pais'] = df2['pais'].replace(traduccionC)
df2['tipo_de_subscripcion'] = df2['tipo_de_subscripcion'].replace(traduccionST)
df2['tipo_de_dispositivo'] = df2['tipo_de_dispositivo'].replace(traduccionDT)

df2

,nombre_de_usuario,genero,edad,pais,tipo_de_subscripcion,tiempo_de_escucha,canciones_escuchadas_por_dia,omision,tipo_de_dispositivo,anuncios_escuchados_por_semana,escucha_sin_conexion,cancelado
0,1.0,masculino,54.0,canada,gratis,26.0,23.0,0.34,computador,31.0,0.0,1.0
1,2.0,otro,33.0,alemania,pago,141.0,62.0,0.34,web,0.0,1.0,0.0
2,3.0,masculino,38.0,australia,pago,199.0,38.0,0.04,celular,0.0,1.0,1.0
3,4.0,femenino,38.0,canada,estudiante,36.0,2.0,0.31,celular,0.0,1.0,0.0
4,5.0,otro,29.0,estados unidos,familiar,250.0,57.0,0.36,celular,0.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
10121,4062.0,femenino,49.0,francia,familiar,195.0,39.0,0.52,web,0.0,1.0,1.0
10125,6500.0,femenino,38.0,pakistan,estudiante,245.0,10.0,0.5,web,0.0,1.0,0.0
10138,5797.0,femenino,37.0,alemania,pago,116.0,29.0,0.58,computador,0.0,1.0,0.0
10139,5266.0,masculino,30.0,estados unidos,pago,185.0,36.0,0.15,web,0.0,1.0,1.0
10157,6421.0,otro,53.0,estados unidos,pago,201.0,19.0,0.15,web,0.0,1.0,0.0

In [17]:
#Se hace el cambio de valores 
df2['nombre_de_usuario']=df2['nombre_de_usuario'].astype(int)
df2['edad']=df2['edad'].astype(int)
df2['tiempo_de_escucha']=df2['tiempo_de_escucha'].astype(int)
df2['canciones_escuchadas_por_dia']=df2['canciones_escuchadas_por_dia'].astype(int)
df2['anuncios_escuchados_por_semana']=df2['anuncios_escuchados_por_semana'].astype(int)
df2['escucha_sin_conexion']=df2['escucha_sin_conexion'].astype(int)
df2['cancelado']=df2['cancelado'].astype(int)

## Se verifica la informacion

In [18]:
#Se verifica el cambio de valores 
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7945 entries, 0 to 10157
Data columns (total 12 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   nombre_de_usuario               7945 non-null   int64
 1   genero                          7945 non-null   object
 2   edad                            7945 non-null   int64
 3   pais                            7945 non-null   object
 4   tipo_de_subscripcion            7945 non-null   object
 5   tiempo_de_escucha               7945 non-null   int64
 6   canciones_escuchadas_por_dia    7945 non-null   int64
 7   omision                         7945 non-null   object
 8   tipo_de_dispositivo             7945 non-null   object
 9   anuncios_escuchados_por_semana  7945 non-null   int64
 10  escucha_sin_conexion            7945 non-null   int64
 11  cancelado                       7945 non-null   int64
dtypes: int64(7), object(5)
memory usage: 806.9+ KB

In [19]:
#Los datos nulos
df2.isnull().sum()

nombre_de_usuario                 0
genero                            0
edad                              0
pais                              0
tipo_de_subscripcion              0
tiempo_de_escucha                 0
canciones_escuchadas_por_dia      0
omision                           0
tipo_de_dispositivo               0
anuncios_escuchados_por_semana    0
escucha_sin_conexion              0
cancelado                         0
dtype: int64

In [20]:
df2.to_csv("Base_limpia_SpotifyDataset.csv", index=False)